.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 24px;
  position: absolute;
  bottom: -100px;
  width: 100%;
}

.logo {
  width: 61px;
}

.logo a {
  height: 100%;
}

.rights {
  color: var(--dark-sea);
  font-size: 12px;
  line-height: 15px;
}

.rights a {
  color: var(--violet);
}

.socials {
  display: flex;
  gap: 15px;
}

.socials svg {
  width: 24px;
  height: 24px;
  fill: var(--dark-sea);
}

.socials svg:hover {
  fill: var(--violet);
}

@media (max-width: 450px) {
  .rights {
    font-size: 2.3vw;
  }
  .logo {
    width: 10vw;
  }
}

@media (max-width: 390px) {
  .footer {
    flex-direction: column;
    bottom: -170px;
  }
  .rights {
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .logo {
    width: 12vw;
  }
}
